@import "../../../App.scss";

.none {
  display: none;
}

.seachBar {
  display: flex;
  justify-content: space-between;
  background-color: $lightWhite;
  box-shadow: 1px 10px 10px 6px hsla(180, 29%, 50%, 0.15);
  border-radius: $borderRadius;
  margin-top: -50px;
  padding: 20px;
  width: 100%;
  height: auto;
}

.clear {
  @include button;
  background-color: unset;
  color: $detailsColor;

  &:hover {
    color: $cyanBadgeColor;
    text-decoration: underline;
  }
}

.chips {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
