@import "../../../App.scss";

.listItem {
  background-color: $listElements;
  box-shadow: 1px 10px 10px 6px hsla(180, 29%, 50%, 0.15);
  border-radius: $borderRadius;
  margin: 50px 0;
  padding: 20px;
  position: relative;
  font-size: 13px;
  display: flex;
  flex-wrap: wrap;


  &.featured {
    border-left: 5px solid $cyanBadgeColor;
  }

  .itemContent {
    border-bottom: 1px solid $detailsColor;
    width: 100%;
  }

  .avatar {
    width: 50px;
    position: absolute;
    top: -25px;

    img {
      width: 100%;
    }
  }
}

.companyData {
  list-style: none;
  padding-left: 0;

  li {
    padding: 6px 0;

    &:first-of-type {
      color: $cyanBadgeColor;
      font-weight: 700;
      display: inline;
    }

    &:nth-child(2) > span {
      font-weight: 700;
      color: $badgeDarkAndRole;
      font-size: $basicFontSize;
      &:hover {
        color: $cyanBadgeColor;
      }
    }
  }

  .details {
    padding-left: 0;
    li {
      display: inline;
      font-weight: 400;
      color: $detailsColor;
    }
  }
}
.buttons {
  display: flex;
  flex-wrap: wrap;

  button {
    border: none;
    background-color: $backgroundColor;
    color: $cyanBadgeColor;
    font-weight: 700;
    padding: 10px 6px;
    margin: 15px 15px 0 0;
    border-radius: $borderRadius;

    &:hover {
      color: $listElements;
      background-color: $cyanBadgeColor;
    }
  }
}

@media only screen and (min-width: 769px) {
  .listItem {
    flex-wrap: nowrap;
    align-items: center;

    .itemContent {
      border-bottom: unset;
      width: 50%;
    }

    .avatar {
      width: 100px;
      position: relative;
      top: unset;
      margin-right: 20px;
  
      img {
        width: 100%;
      }
    }
  }

  .buttons {
    align-self: center;
    justify-content: flex-end;
    width: 50%;
    margin: 8px;
  }
}
